body {
    font-family: 'Roboto', sans-serif;
    size: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero, .header, footer {
    background-color: #1f2937;
}

.main-nav ul {
    margin: 1em 0 .5em;
	text-align: center;
}

.main-nav li {
    list-style-type: none;
    display: inline;
}

.main-nav a {
    display: inline-block;
	padding: .5em 1.5em;
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.menu {
   margin-top: 2rem;
   padding: 1rem 0;
}

.recipes {
    margin: 2rem auto;
    max-width: 1100px;
}

.drinks {
    display: flex;
}

a {
    padding: 10px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2 {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 200px;
    padding-top: 10px;
}

h2, h1 {
    color: white;
    margin: 0;
}

a, .color, .footer-text {
    color: #e5e7eb;
    font-size: 18px;
}

a:link {
    text-decoration: none;
}

.button, .button2 {
    background-color: #3882f6;
    color: white;
    border: 0;
    padding: 15px 32px;
    border-radius: 12px;
}

.button2 {
    border: 3px solid white;
    margin-right: 40px;
    align-self: center;

}

img {
    width: 400px;
    max-width: 100%;
    max-height: 100%;
    border: 3px solid #3882f6;
}

h3 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
}

.intro-text {
    padding: 50px;
}

.drink-1, .drink-2, 
.drink-3, .drink-4 {
    width: 33.3%;
    padding: 20px;
}

.quote {
    background-color: #E5E7EB;
    padding: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.size {
    max-width: 900px;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #636b75;
}

.author {
    padding-left: 680px;
}

.body4 {
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-top: 65px;
}

.blue-container {
    background-color: #3882f6;
    padding: 30px;
    margin: 30px;
    flex: 1;
    border-radius: 15px;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

h4 {
    color: white;
    font-weight: 700;
    font-size: larger;
    height: 0px;
}

.color-bottom {
    color: white;
    font-weight: 300;
}

.separate {
    display: flex;
    flex-direction: column;
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}


