body {
    font-family: 'Roboto', sans-serif;
    size: 100vh;
}

.body1 {
    background-color: #1f2937;
}

.header {
    display: flex;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

h2, h1 {
    color: white;
    margin: 0;
}

a, .color {
    color: rgb(182, 179, 179);
}

a:link {
    text-decoration: none;
}
